@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url(https://fonts.googleapis.com/css?family=Merriweather);

* {
    margin: 0;
    padding: 0;
}

/* theme - white */
:root {
    --num-subItem: 2;
    --font-size-title: 18px;
    --font-size-item: 22px;
    --font-size-subItem: 18px;
    --height-content: 50px;

    --color-menu-bg: rgb(29, 31, 32);
    --font-color-mi: #ffffff;
    --font-color-mi-hover: #877fbe;
    --color-bg-mi-hover: #000000;
    --border-radius-mi: 6px;
    --transition-menu-time: 0.2s;
    --color-line-bg: linear-gradient(to right, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}

.setting-block{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
    font-weight: 550;
    display: flex;
    padding: 10px;
    flex-direction: column;
    border-radius: 10px;
    font-size: 20px;
    width: 400px;
    height: 150px;
    align-items: center;
    background-color: rgb(29, 31, 32);
    box-shadow: #13E2DA 0px 13px 20px 0px, #9055FF 0px 8px 16px 0px,#9055FF 0px 8px 16px 0px,#9055FF 0px 18px 26px 0px;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -200px;

}

.setting-line{
    align-items: center;
    margin: 20px 0 15px 0;
    width: 90%;
    height: 2px;
    background:linear-gradient(to right, #9055FF,#13E2DA);
}

.setting-separator{
    display: flex;
    margin: 0;

    width: 100%;
    height: 45%;
    text-align: center;
    /*background-color: white;*/
}

.setting-font{
    display: flex;
    padding: 0;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content:center;
    width:40%;
    height: 100%;

}


.container{
    display: flex;
    width: 60%;
    height: 100%;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    text-align: center;
}

.switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background:linear-gradient(to right, #9055FF,#13E2DA);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#input-text {
    width: 100px;
    height: 60%;
    border-radius: 10px;
    color: white;
    background: #14233f;

}

#input-submit {
    width: 100px;
    height: 60%;
    cursor: pointer;
    display: inline-block;
    color: white;
    background:linear-gradient(to right, #9055FF,#13E2DA);
    border-radius: var(--border-radius-mi);
}

#input-submit:active{
    margin-top: 10px;
    width: 40%;
    height: 55%;
    color: white;
    border-radius: 5px;
    background: #4a9bfa;
    opacity: 0.7;    //这里重要，就是通过这个透明度来设置
}
