@import url(//fonts.googleapis.com/css?family=Lato:300:400);

* {
    margin: 0;
    padding: 0;
}

:root {

}


/*** layout ***/
/** level 1 **/
html, body, .container {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    height: 5vh;
}

.footer {
    height: 35vh;
}

.main {
    flex: 1;
}

/** level 2 **/
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 3%;
}

.main, .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/** level 3 **/
/* header */
.nav {
    display: flex;
    justify-content: space-around;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon {
    width: 5vh;
}

.nav-item {
    margin: auto 0 auto 40px;
}

/* main */
.info-item > span {
    width: 100px;
}

.info-item {
    margin: 5% 0;
}

/* footer */
.waves {
    position: relative;
    width: 100%;
    margin-bottom: -7px; /*Fix for safari gap*/
    min-height: 120px;
    max-height: 150px;
}

.team {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}




/*** details ***/
/** global styles **/
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

body {
    background-color: rgba(0, 0, 0, 0.89);
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
}

/** header **/
.logo>svg {
    fill: rgba(255, 255, 255, 0.9);
}
/* all tags in nav bar */
.nav li a {
    text-transform: uppercase;
}

.nav li a:hover {
    color: rgba(255, 255, 255, 0.7);
}

/* the last tag in nav bar */
.nav li:last-child a {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 2px;
    transition: 200ms ease-in-out;
    padding: 8px 16px 7px;
}

.nav li:last-child a:hover {
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
}

/** main **/
.info {
    padding: 10px;
}

.info-item-data, .info-item-label {
    font-size: 58px;
}

.info-item-label {
    padding-right: 40px;
}

/** footer **/
.team {
    padding-top: 10px;
    background-color: #24CDDE;
}




/*** Animation ***/
.parallax > use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}