@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url(https://fonts.googleapis.com/css?family=Merriweather);

* {
    margin: 0;
    padding: 0;
}

/* theme - white */
:root {
    --num-subItem: 2;
    --font-size-title: 18px;
    --font-size-item: 22px;
    --font-size-subItem: 18px;
    --height-content: 50px;

    --color-menu-bg: rgb(29, 31, 32);
    --font-color-mi: #ffffff;
    --font-color-mi-hover: #877fbe;
    --color-bg-mi-hover: #000000;
    --border-radius-mi: 6px;
    --transition-menu-time: 0.2s;
    --color-line-bg: linear-gradient(to right, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}

/*!* theme - black *!*/
/*!* :root {*/
/*    --color-bg: #e7e7e7;*/
/*    --color-menu-bg: #232324;*/
/*    --font-color-mi: #c9cdd4;*/
/*    --font-color-mi-hover: #a649d1;*/
/*    --color-bg-mi-hover: #303030;*/
/*    --border-radius-mi: 2px;*/
/*    --transition-menu-time: 0.2s;*/
/*    --color-line-bg: #333333;*/
/*} *!*/

/*!* layout *!*/
/*.content {*/
/*    background-color: #e7e7e7;*/
/*    min-height: 100vh;*/
/*    display: flex;*/
/*}*/

/*!* sidebar layout *!*/
/*.nav {*/
/*    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
/*    letter-spacing: 1px;*/
/*    font-weight: 550;*/
/*    position: relative;*/
/*    width: fit-content;*/
/*    min-height: 100vh;*/
/*    padding: 13px 15px 13px 12px;*/
/*    box-sizing: border-box;*/
/*    background-color: var(--color-menu-bg);*/
/*}*/

/*!* main content layout*!*/
/*.main-box {*/
/*    margin: 20px 25px;*/
/*    width: 100%;*/
/*}*/

/*!* global style *!*/
/*a {*/
/*    text-decoration: none;*/
/*    color: black;*/
/*}*/

/*.nav input[type='checkbox'] {*/
/*    display: none;*/
/*    cursor: pointer;*/
/*}*/

/*!* puller *!*/
/*.puller-content {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    !*transform: translateX(100%);*!*/
/*    width: 10px;*/
/*    height: 100%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    overflow: hidden;*/
/*}*/
/*!*.puller-content {*!*/
/*!*    position: absolute;*!*/
/*!*    top: 45%;*!*/
/*!*    right: 0;*!*/
/*!*    transform: translateX(50%);*!*/
/*!*    width: 25px;*!*/
/*!*    height: 25px;*!*/
/*!*    border-radius: 25px;*!*/
/*!*    box-shadow: 0px 0px 4px 0px #000;*!*/
/*!*    background-color: var(--color-menu-bg);*!*/
/*!*    color: var(--font-color-mi);*!*/
/*!*    display: flex;*!*/
/*!*    justify-content: center;*!*/
/*!*    align-items: center;*!*/
/*!*    overflow: hidden;*!*/
/*!*}*!*/

/*.puller-action {*/
/*    font-weight: 900;*/
/*    text-indent: -3px;*/
/*    font-size: 20px;*/
/*    transition: transform var(--transition-menu-time);*/
/*    transform: rotate(90deg);*/
/*}*/

/*.puller-content:hover {*/
/*    background: linear-gradient(to bottom, #9055FF,#13E2DA );*/
/*    box-shadow: 0px 0px 2px 0px #6c88c2;*/


/*}*/

/*#puller:checked+label>span {*/
/*    transform: rotate(270deg);*/
/*}*/

/*#puller:checked~.menu {*/
/*    !*margin-left: -300px;*!*/
/*    width: 0;*/
/*}*/

/*!* menu *!*/
/*.menu {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    font-size: 20px;*/
/*    width: 220px;*/
/*    min-height: 100%;*/
/*    !*cursor: pointer;*!*/
/*    overflow: hidden;*/
/*    transition: width var(--transition-menu-time);*/
/*    color: var(--font-color-mi);*/
/*}*/

/*!* menu - title *!*/
/*.menu-title {*/
/*    text-align: center;*/
/*    margin: 15px 0;*/
/*    cursor: default;*/
/*}*/

/*!* menu-box *!*/
/*.menu-box{*/
/*    flex: 1;*/
/*}*/

/*!* menu - logout *!*/
/*.menu-logout {*/
/*    margin-bottom: 10px;*/
/*}*/


/*!* menu - item *!*/
/*.menu-item {*/
/*    border-radius: var(--border-radius-mi);*/
/*}*/

/*.menu-item-content{*/
/*    position: relative;*/
/*    width: 100%;*/
/*    height: var(--height-content);*/
/*    border-radius: var(--border-radius-mi);*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.menu-item-icon {*/
/*    flex: none;*/
/*    margin-left: 8px;*/
/*    margin-right: 10px;*/
/*    font-size: 20px;*/
/*    align-items: center;*/
/*    color: white;*/

/*}*/

/*.menu-item-label {*/
/*    font-size: 22px;*/
/*    flex: 1;*/
/*    color: white;*/
/*}*/

/*!* common actions *!*/
/*.menu-item-content:hover, .menu-subItem:hover {*/
/*    background-color: var(--color-bg-mi-hover);*/
/*}*/

/*li[data-now=true] {*/
/*    !*background-color: rgb(208 215 222 / 24%);*!*/
/*    background-color: var(--color-bg-mi-hover);*/
/*}*/

/*!*li[data-now=true]::after {*!*/
/*!*    position: absolute;*!*/
/*!*    !* todo calculate height *!*!*/
/*!*    top: calc(50% - 170px);*!*/
/*!*    left: 1px;*!*/
/*!*    width: 4px;*!*/
/*!*    height: 24px;*!*/
/*!*    content: "";*!*/
/*!*    background: cornflowerblue;*!*/
/*!*    border-radius: 6px;*!*/
/*!*}*!*/

/*!* menu - specifically for subItems *!*/
/*.menu-subGroup {*/
/*    height: 0;*/
/*    overflow: hidden;*/
/*    transition: height var(--transition-menu-time);*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    background-color: var(--color-menu-bg);*/
/*}*/

/*.menu-subItem {*/
/*    width: 100%;*/
/*    text-indent: 15%;*/
/*    line-height: 40px;*/
/*    border-radius: var(--border-radius-mi);*/
/*}*/

/*.menu-subItem>a {*/
/*    width: 100%;*/
/*    display: flex;*/
/*}*/

/*.menu-item-action {*/
/*    flex: none;*/
/*    margin-right: 8px;*/
/*    font-size: 20px;*/
/*    font-weight: 900;*/
/*    transform: rotate(0deg);*/
/*    transition: transform var(--transition-menu-time);*/
/*}*/

/*.menu-item>input:checked+label>span:last-child {*/
/*    transform: rotate(180deg);*/
/*}*/

/*.menu-item>ul[data-hidden=false] {*/
/*    height: calc(var(--num-subItem) * var(--height-content));*/
/*}*/

/*!* menu - separator *!*/
/*.menu-separator {*/
/*    margin: 20px 0 15px 0;*/
/*    width: 100%;*/
/*    height: 2px;*/
/*    background:linear-gradient(to right, #9055FF,#13E2DA);*/
/*    !*background:linear-gradient(to right,#9055FF – #13E2DA #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);*!*/

/*    !*cursor: default;*!*/
/*}*/


/*.main-box {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    position: relative;*/
/*    font-family: monospace;*/
/*    flex-direction: column;*/
/*    background: rgba(0, 0, 0, 0.89);  !* fallback for old browsers *!*/
/*}*/

/*.information{*/
/*    height: 70px;*/
/*    width: 100%;*/
/*    background-color: #1d1f20;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    flex-direction: row;*/
/*    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
/*    letter-spacing: 1px;*/
/*    font-weight: 550;*/
/*}*/

/*.about-us{*/
/*    display: flex;*/
/*    padding: 20px;*/
/*    height: 30px;*/
/*    width: 300px;*/
/*    background: linear-gradient(to right, #9055FF,#13E2DA);*/
/*    -webkit-background-clip: text;*/
/*    color: transparent;*/
/*    align-items: center;*/

/*}*/

/*a{*/
/*    position: absolute;*/
/*    text-decoration: white;*/
/*    padding: 10px;*/
/*    right: 20px;*/
/*}*/

/*.main-separator{*/
/*    width: 100%;*/
/*    height: 3px;*/
/*    background:linear-gradient(to right, #9055FF,#13E2DA);*/
/*}*/

.info-item-label, .info-item-data{
    color: white;
    font-size: 35px;
}

.info {
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
    font-weight: 550;

    display: flex;
    padding: 15px;
    flex-direction: column;
    font-size: 20px;
    width: auto;
    height: auto;
    justify-items: center;
    align-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -200px;

    border-radius: 10px;
    background-color: rgb(29, 31, 32);
    box-shadow: #13E2DA 0px 13px 20px 0px, #9055FF 0px 8px 16px 0px,#9055FF 0px 8px 16px 0px,#9055FF 0px 18px 26px 0px;
}

.info-item {
    padding: 10px 10px;
}