<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SDIM设备工坊空气质量检测及反馈系统</title>
</head>
<body>
    <div>
        <button type="button" id="toLogin">管理员登录</button>
    </div>

    <div>
        <h1>当前污染等级：</h1>
        <h1>建议采取措施：</h1>
    </div>

    <div>
        @HumanVacuum
    </div>

    <script>
        var btnToLogin = document.getElementById("toLogin");

        btnToLogin.onclick = function () {
            // window.location.href = "login";
            window.location.href = "admin";
        }

    </script>
</body>
</html>