<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
</head>

<body>
    <span>当前污染等级</span>
    <span>建议应对策略</span>
    <!-- 上面两个部分需要通过服务器获取 -->
    <!--<span><a href="Account.html" target="_blank">个人中心</a></span>-->
    <form action="" method="POST">
        <input type = 'submit' value="Account">
    </form>

</body>

</html>
