<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

<!--    <link rel="stylesheet" href="../static/css/menu.css">-->
    <link type="text/css" href="{{ url_for('static', filename='css/menu.css') }}" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>

    {% block head %}{% endblock %}
</head>
<body onload="init()">
<div class="content">
    <nav class="nav">
        <!--  puller  -->
        <input type="checkbox" id="puller">
        <label for="puller" class="puller-content">
                <span class="puller-action">
                </span>
        </label>

        <!--  menu  -->
        <div class="menu">
            <!--  menu - title  -->
            <div class="menu-title">
                <h1>Menu</h1>
            </div>

            <!--  menu-box  -->
            <div class="menu-box">
                <!-- menu - group 1 -->
                <ul class="menu-group">
                    <!--  menu - item 1.1  -->
                    <li class="menu-item" id="present" data-now="false">
                        <a href="/user/present" id="menu-item1-1" class="menu-item-content">
                                <span class="menu-item-icon">
                                    <i class="fi fi-br-chart-histogram"></i>
                                </span>
                            <span class="menu-item-label">当前数据</span>
                        </a>
                    </li>

                    <!--  menu - item 1.2  -->
                    <li class="menu-item" id="history" data-now="false">
                        <input type="checkbox" id="menu-item1-2" onclick="inputClicked(this)">
                        <label for="menu-item1-2" class="menu-item-content">
                                <span class="menu-item-icon">
                                    <i class="fi fi-br-clock"></i>
                                </span>
                            <span class="menu-item-label">历史数据</span>
                            <span class="menu-item-action">
                                    <i class="fi fi-br-angle-small-down"></i>
                                </span>
                        </label>
                        <ul class="menu-subGroup" id="menu-subGroup1-2" data-hidden="true">
                            <!-- sub-item 1.2.1 -->
                            <li class="menu-subItem" id="option1" data-now="false">
                                <a href="/user/history/option1" onclick="subItemClicked(this)">
                                    <span class="menu-item-label">option1</span>
                                </a>
                            </li>
                            <!-- sub-item 1.2.2 -->
                            <li class="menu-subItem" id="option2" data-now="false">
                                <a href="/user/history/option2" onclick="subItemClicked(this)">
                                    <span class="menu-item-label">option2</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!--  menu - item 1.3  -->
                    <li class="menu-item" id="console" data-now="false">
                        <a href="/user/console" id="menu-item1-3" class="menu-item-content">
                                <span class="menu-item-icon">
                                    <i class="fi fi-br-settings-sliders"></i>
                                </span>
                            <span class="menu-item-label">控制面板</span>
                        </a>
                    </li>
                </ul>

                <!--  menu - separator  -->
                <div class="menu-separator"></div>

                <!--  menu - group 2  -->
                <ul class="menu-group">
                    <!--  menu - item 2.1  -->
                    <li class="menu-item" id="user" data-now="false">
                        <a href="/user" id="menu-item2-1" class="menu-item-content">
                                <span class="menu-item-icon">
                                    <i class="fi fi-br-user"></i>
                                </span>
                            <span class="menu-item-label">账号和设置</span>
                        </a>
                    </li>
                </ul>
            </div>

<!--            &lt;!&ndash;todo add login info &ndash;&gt;-->
<!--            <div class="menu-useremail" id="show">-->
<!--                <a class="menu-item-content">-->
<!--                    <span class="menu-item-label">#</span>-->
<!--                </a>-->
<!--            </div>-->

            <!--  menu - logout  -->
            <div class="menu-logout" id="logout">
                <a href="/user/logout" class="menu-item-content">
                        <span class="menu-item-icon">
                            <i class="fi fi-br-cross-circle"></i>
                        </span>
                    <span class="menu-item-label">退出</span>
                </a>
            </div>
        </div>
    </nav>


    <main class="main-box">
        {% block body %}{% endblock %}
    </main>

</div>

<!--<script src="../static/js/menuEvents.js"></script>-->
<script src="{{ url_for('static', filename='js/menuEvents.js') }}"></script>

{% block script %}{% endblock %}
</body>
</html>