{% extends "base_menu.html" %}

{% block title %}当前数据{% endblock %}

{% block head %}{% endblock %}

{% block body %}
  <ul class="info">
    <li class="info-item">
      <span class="info-item-label">当前污染等级：</span>
      <span class="info-item-data" id="data-level">#</span>
    </li>
    <li class="info-item">
      <span class="info-item-label">建议应对措施：</span>
      <span class="info-item-data" id="data-strategy">#</span>
    </li>
  </ul>
{% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename='js/postman.js') }}"></script>
{% endblock %}