<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>history_day</title>
  <!-- 引入刚刚下载的 ECharts 文件 -->
  <script src="https://cdn.jsdelivr.net/npm/echarts@5.3.2/dist/echarts.js"></script>
</head>

<body>
  <!-- 为 ECharts 准备一个定义了宽高的 DOM -->
  <style>
    #barchart,
    html,
    body {
      width: 100%;
    }
    #barchart {
      height: 400px;
    }
    
    #linechart,
    html,
    body {
      width: 100%;
    }
    #linechart {
      height: 400px;
    }

    #piechart,
    html,
    body {
      width: 100%;
    }
    #piechart {
      height: 400px;
    }
  </style>
  <!--柱状图-->
  <div id="barchart"></div>
  <script type="text/javascript">
    window.onresize = function () {
      myChart.resize();
    }
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('barchart'));

      // 指定图表的配置项和数据
      var option = {
        title: {
          text: '污染物等级-时间分布'
        },
        tooltip: {},
        legend: {
          data: ['等级']
        },
        xAxis: {
        data: ['0-2h', '2-4h', '4-6h', '6-8h', '8-10h', '10-12h','12-14h', '14-16h', '16-18h', '18-20h', '20-22h', '22-0h']
        },
        yAxis: {},
        series: [
        {//优
          data: [10, 22, 28, 43, 49],
          type: 'bar',
          color:'#606fc4',
          stack: 'x'
        },
        {//良
          data: [5, 4, 3, 5, 10],
          type: 'bar',
          color:'#6aa276',
          stack: 'x'
        },
        {//轻度污染
          data: [1, 1, 1, 1, 1],
          type: 'bar',
          color:'#ebc95e',
          stack: 'x'
        },
        {//中度污染
          data: [1, 1, 1, 1, 1],
          type: 'bar',
          color:'#eb875e',
          stack: 'x'
        },
        {//重度污染
          data: [1, 1, 1, 1, 1],
          type: 'bar',
          color:'#cf321c',
          stack: 'x'
        },
        {//严重污染
          data: [1, 1, 1, 1, 1],
          type: 'bar',
          color:'#6f4309',
          stack: 'x'
        }
      ]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
  </script>

   <!--折线图-->
  <div id="linechart"></div>
  <script type="text/javascript">
    window.onresize = function () {
      myChart.resize();
    }
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('linechart'));
    var option = {
      title: {
          text: '污染物浓度-时间变化'
        },
      xAxis: {
        type: 'category',
        data: ['0-2h', '2-4h', '4-6h', '6-8h', '8-10h', '10-12h','12-14h', '14-16h', '16-18h', '18-20h', '20-22h', '22-0h']
      },
      yAxis: {
        type: 'value'
      },
      series: [
        {
          data: [120, 200, 150, 120, 200, 150, 120, 200, 150, 120, 200, 150],
          type: 'line',
          smooth: true
        }
      ]
    };
     // 使用刚指定的配置项和数据显示图表。
     myChart.setOption(option);
  </script>

<!--饼图-->
  <div id="piechart"></div>
  <script type="text/javascript">
        window.onresize = function () {
          myChart.resize();
        }
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('piechart'));

        var option = {
          title: {
          text: '污染物等级比重分布'
        },
  series: [
    {
      type: 'pie',
      data: [
        {
          value: 335,
          color:'#606fc4',
          name: '优'
        },
        {
          value: 234,
          color:'#6aa276',
          name: '良'
        },
        {
          value: 1548,
          color:'#ebc95e',
          name: '轻度污染'
        } ,     
        {
          value: 335,
          color:'#eb875e',
          name: '中度污染'
        },
        {
          value: 234,
          color:'#cf321c',
          name: '重度污染'
        },
        {
          value: 1548,
          color:'#6f4309',
          name: '严重污染'
        }      
      ]
    }
  ]
};
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
      </script>
</body>

</html>