<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理员注册页</title>
</head>
<body>
     <!-- 本页大标题 -->
     <h1>
        管理员注册
    </h1>
    <table>
        <!-- 第一行文本输入姓名 -->
        <tr>
            <td>
                姓名： </td>
            <td>
                <input type="text" name="username" maxlength="6" value="请输入真实姓名">
            </td>
        </tr>
        <!-- 第二行文本输入学工号 -->
        <tr>
            <td>
                学工号：
            </td>
            <td><input type="text" name="id" maxlength="8" value="请输入学工号"></td>
        </tr>
        <!-- 第三行输入注册密码 -->
        <tr>
            <td>密码：</td>
            <td><input type="password" maxlength="20">*请输入由数字和字母组合且不少于8位的密码
            </td>
        </tr>
        <!-- 第4行再次确认密码 -->
        <tr>
            <td>
                确认密码：
            </td>
            <td><input type="password" maxlength="20">*请再输入一遍</td>
        </tr>
    </table>
     
    <form action="" method="POST">
        <input type = 'submit' value="点击完成注册">
    </form>
    <a href="/" target="_self">已注册账号？立即登录</a>
</body>
</html>