* {
    margin: 0;
    padding: 0;
}

:root {
    --height-header: 50px;
    --height-footer: 50px;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    /*height: var(--height-header);*/
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0;
    /*padding: 20px 0;*/
    /*margin: 0 auto;*/
}

.nav {
  list-style: none;
}

.nav li {
  margin: 12px 0 12px 28px;
}

.nav li a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}

.nav li a:hover {
  color: rgba(255,255,255,0.7);
}

main {
    width: 100%;
    position: absolute;
    /*top: var(--height-header);*/
    /*bottom: var(--height-footer);*/
    top: 50px;
    bottom: 50px;
}

footer {
    /*height: var(--height-footer);*/
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
}