* {
    margin: 0;
    padding: 0;
}

:root {
    --color-fg-default: #24292f;
    --color-canvas-default: #ffffff;
    --menu-width: 220px;

}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-fg-default);
    background-color: var(--color-canvas-default);
}

.content {
    min-height: 100vh;
    display: flex;
}

.nav {
    position: relative;
    width: fit-content;
}

input[type="checkbox"] {
    display: none;
}


.menu {
    padding: 8px;
    width: var(--menu-width);
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.menu-item {
    position: relative;
    list-style: none;
    background-color: transparent;
    border-radius: 6px;
}

.main {


}